@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
}

nav{
    background-color: #345B63;
    padding:1rem;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

a{
    color:white;
    margin:0 0.5rem;
}

body{
    background-color:#D4ECDD ;
    font-family: 'Montserrat', sans-serif;
}

input{
    display:block;
    margin:0.5rem 0;
    padding:0.3rem;
}

label{
    color:#112031;
    font-weight: bold ;
    display:block;
    font-size:1.3rem;
}

h1{
    margin-bottom: 0.5rem;
    color:#112031;
}

#container{
    padding:1rem;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    border: 0.2rem solid #345B63;
    width:50%;
    border-radius: 0.4rem;
    align-items: center;
    
}

button{
    width:26%;
    padding:0.3rem;
    background-color:#345B63 ;
    color:white;
    display:block;
    font-size:1.3rem
    
}

#output-div{
    margin-top: 0.5rem;
    color:#112031 ;
    font-size: 1.5rem;
    font-weight:bold;
}

containerTwo{
    padding-left: 1rem;
    padding-right: 1rem;
    color:#5265E4;
    font-size: 1.2rem;

    
    
}

.centered{
    width:600px;
    margin:auto;
    margin-bottom: 3rem;
}

.list-non-bullet{
    list-style: none;
}

.list-inline{
    display:inline;
    padding:0rem 0.5rem;
}

.footer{
    background-color:#345B63;
    border-top-right-radius: 1rem;
    color:white;
    padding:2rem;
    text-align:center;
    position:absolute;
    left:0;right:0;
    bottom:0
    
    
}

.footer .links{
    color:white;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
    color:white;
    margin-bottom: 0.5rem;
}